### Imports

In [3]:
# Imports
import warnings; warnings.simplefilter('ignore')
import pandas as pd
import os
import glob

### Loop through the files and make them one

In [4]:
# Go to the .csv directory
os.chdir("../data")

In [5]:
# Do some regex matching
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [6]:
# Combine all files in the list with pandas
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
#export to csv
combined_csv.to_csv("combined_data.csv", index=False, encoding='utf-8-sig')

### Do some validation

In [9]:
df = pd.read_csv("combined_data.csv")

In [10]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [11]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,4.334070e+05,433407.000000,433407.000000,433407.000000,433407.000000,433407.000000,433407.000000,433407.000000,433407.000000,433407.000000
mean,7.563049e+02,3297.844839,40.722684,-74.046369,3296.403191,40.722297,-74.045841,29760.500592,1981.387846,1.164970
std,1.104678e+04,175.060904,0.007000,0.010946,184.630227,0.006854,0.010902,4312.971794,10.294826,0.520565
min,6.100000e+01,3183.000000,40.709651,-74.083639,83.000000,40.683826,-74.083639,14578.000000,1887.000000,0.000000
25%,2.350000e+02,3195.000000,40.718355,-74.050444,3192.000000,40.718211,-74.050389,26301.000000,1975.000000,1.000000
50%,3.500000e+02,3210.000000,40.721525,-74.043845,3209.000000,40.721124,-74.043117,29438.000000,1984.000000,1.000000
75%,5.920000e+02,3276.000000,40.727224,-74.038051,3276.000000,40.726012,-74.038051,29592.000000,1989.000000,1.000000
max,2.566420e+06,3792.000000,40.748716,-74.032108,3792.000000,40.814394,-73.932077,42636.000000,2003.000000,2.000000